.title-block{
	width:220px;
	margin-left:auto;
	margin-right:auto;
	margin-top:150px;
	margin-bottom:120px;
	border-radius: 220px;
	padding:70px;
}

.link-btn{
	margin-top:10px;
	margin-bottom:10px;	
}

.link-btn a{
	width:180px;
}